@using CarDealerWebProject.Core.Models.Vehicle.SeviceModels
@model VehiclePreviewServiceModel
@{
    ViewData["Title"] = "Delete Vehicle";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-action="DeleteVehicle">
    <div class="row">
        <div class="col-md-4">
           
        </div>
        <div class="col-md-8">
            <div class="card border-0">
                <div class="card-body">
                    <p style="font-size:30px;"><u>@Model.Make @Model.Model</u></p>
                    <p style="font-size:30px;">Total horse power: <b>@Model.HorsePower</b>
                    <p style="font-size:30px;">
                        Price:
                        <b>@String.Format("{0:f2}", Model.Price) Euro</b>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@* <div class="col-4">
    
</div> *@

<div class="card-body">
    @if (!string.IsNullOrEmpty(Model.FirstVehicleImage))
    {
       
         <img src="@Model.FirstVehicleImage" class="img-fluid mb-2" />
        
    }
    else
    {
        if (Model.VehicleType == VehicleTypes.Car)
        {
            <img src="~/images/default-car-image.jpg" class="img-fluid mb-2" />
        }

        else if (Model.VehicleType == VehicleTypes.Motorcycle)
        {
            <img src="~/images/default-motorcycle-image.jpg" class="img-fluid mb-2" />
        }
    }
</div>