@model VehicleDetailsServiceModel
@{
    ViewData["Title"] = "Vehicle Details";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.VehicleImages[0]" alt="Vehicle Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Make @Model.Model - @Model.Color</u></p>
            <p style="font-size:25px;">
                Price:
                <b>@String.Format("{0:f2}", Model.Price) Euro</b>
            </p>
            <p>Manufacturing Date: <b>@Model.ManufacturingDate.Month.ToString("MMM") @Model.ManufacturingDate.Year</b></p>
            <p>Motor Type: <b>@Model.Fuel</b></p>
            <p>Transmission: <b>@Model.Transmission</b></p>
            <p>Power: <b>@Model.MotorHorsePower hp</b></p>
            <p>Mileage: <b>@Model.Milage km</b></p>
            <p>@Model.Description</p>
            <div class="form-inline">
                @if (this.User.Identity!.IsAuthenticated &&
                (User.IsInRole("Admin") || User.IsInRole("Seller")))
                {
                    <a class="btn btn-warning" asp-controller="Vehicle" asp-action="EditVehicle"
                       asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Vehicle" asp-action="DeleteVehicle"
                       asp-route-id="@Model.Id">Delete</a>
                }
            </div>
        </div>
    </div>
</div>

